<?php
  // Get the application environment parameters from the Parameter Store.
  //include ('getAppParameters.php');
  $showServerInfo = "false";
  $timeZone = "{{ time_zone }}";
  $currency = "{{ currency }}";
  $db_url = "{{ db_url }}";
  $db_name = "{{ db_name }}";
  $db_user = "{{ db_user }}";
  $db_password = "{{ db_password }}";
  
  // Display the server metadata information if the showServerInfo parameter is true.
  //include('serverInfo.php');
?>

